body {
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
    background: linear-gradient(90deg, rgba(2,0,36,1) 0%, rgba(9,9,121,1) 35%, rgba(0,212,255,1) 100%);

  }
  
  nav {
      background-color: #333;
      width: 100%;
      height: 5%;
  }
  
  nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
  }
  
  nav ul li {
    float: left;
  }
  
  nav ul li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
  }
  
  nav ul li a:hover {
    background-color: #555;
  }
  .carousel-container {
    width: 100%;
    overflow: hidden;
    position: relative;
  }

  /* Slides */
  .carousel-slide {
    display: flex;
    transition: transform 0.5s ease;
  }

  /* Slide images */
  .carousel-slide img {
    width: 100%;
    height: 50%;
    height: auto;
  }

  /* Navigation buttons */
  .carousel-control {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    cursor: pointer;
    background: rgba(0, 0, 0, 0.5);
    color: #fff;
    padding: 10px;
    border: none;
    z-index: 1;
  }

  .carousel-control-prev {
    left: 0;
  }

  .carousel-control-next {
    right: 0;
  }